:root {
  --color-primary: #dbd3ad;
  --color-secondary: #e0607e;
}

.theme-base {
  --color-primary: #dbd3ad;
  --color-secondary: #e0607e;
}

.theme-dark {
  --color-primary: #222;
  --color-secondary: #fff000;
}

.theme-alt {
  --color-primary: #d36060;
  --color-secondary: #f6c5af;
}
